@model IEnumerable<KuduVersionCheck.Models.RegionEntry>

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
        @foreach (var regionEntry in Model)
        {
            <li>@regionEntry.Name: <a href="https://github.com/WindowsAzure/kudu/commit/@regionEntry.CommitId">@regionEntry.CommitId</a></li>
        }
        </ul>
    </div>
</body>
</html>
