@model IEnumerable<KuduVersionCheck.Models.StampEntry>

<!DOCTYPE html>

<html>
<head>
    <title>kuduversion</title>
</head>
<body>
    <div>
        <ul style="font-family: Courier New, monospace">
        @foreach (var stampEntry in Model)
        {
            <li>
                <a href="@(ViewBag.ShowConsole ? stampEntry.ConsoleUrl : stampEntry.TestSiteUrl)" target="_blank">@stampEntry.Name</a>:
                @stampEntry.DataString
            </li>
        }
        </ul>
    </div>
</body>
</html>
